<h2>Lists of Points of Sale</h2>

<?php

/**
 * @var \NewModules\POS\Block\Display $block
 */

// echo $block->sayHello();

// echo $block->listPOSes();
foreach($block -> getPOSCollection() as $key => $pos) {
    echo('');
    echo($pos['name']);
    echo(', ');
    echo($pos['address']);
    echo(', ');
    if($pos['is_available'])
        echo('available');
    else
        echo('not available');
    echo('<br>'."\n");
}