<h1>Point of sale</h1>
<br>
<?php
    $posId = $block -> getData('posorder');

    if (is_int($posId))
        $pos = $block -> getPos($posId);
    else
        $pos = [];

    if (count($pos) > 0)
    {
        echo('Name: <span style="font-size: 150%;">' . $pos['name'] . '</span>');
        echo('<br>');
        echo('Address: ' . $pos['address']);
        echo('<br>');
        echo('Point of sale is ' . ($pos['is_available'] ? '' : 'NOT ') . 'available');
        echo('<br>');
    }
    else
        echo('Point of sale not found');